$fontFamily: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$searchBarHeight: 50px;

$primaryColor: #fe654f;
$secondaryColor: #514f59;
$detailColor: #aed1e6;
$backgroundColor: #fefefe;
$alternateBackgroundColor: #f8f8f8;
$discreetColor: #b0b0b0;